<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Contact's Book{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/design_of_button_5_gradient.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Contact's Book</a>
    </nav>

    <div class="container-fluid main-container">
        {% block content %}{% endblock%}
        </div>

        <!-- Right section: Action Buttons -->
        <div class="action-buttons">

        </div>
    </div>

</body>
</html>
