<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A Contact`s Book</title>
</head>
<body>
    <h1>A Contact`s Book</h1>

    <div class="table_contacts">
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>Photo</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>phone number</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>id</td>
                    <td></td>
                    <td>First name</td>
                    <td>Last name</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="buttons">
        <ul>
            <li>New contact</li>
            <li>Edit contact</li>
            <li>Delete contact</li>
            <li>About contact</li>
            <li>Display</li>
        </ul>
    </div>
</body>
</html>